fastapi[standard]==0.116.1
uvicorn[standard]==0.30.0
pillow==11.3.0
numpy==1.26.4
opencv-python==4.9.0.80
huggingface_hub==0.34.4
ultralytics==8.3.176
python-multipart==0.0.20
requests==2.32.3
python-dotenv==1.0.0
